body{
    margin: 0%;
    color: rgb(14, 12, 12);
}
#encabezado{
    background-color: black;
    margin: 0px;
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    background-image: url(../img/Portada.png);
    grid-template-rows: auto 1fr;
}
#varios{
    display: grid;
    grid-template-columns: 7fr 4fr 1fr;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.178);
    align-items: center;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
    
}
#registros{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125%;
}
#logo{
    width: fit-content;
    height: fit-content;
    margin-left: 5%;
    left: 6.35%;
    right: 79.79;
    top: 0.91%;
    bottom:98.67%
}
#log{
    font-style: normal;
    font-weight: 390;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding-right: 15px;
    height: 19px;
    left:1250px;
    top: 60px;
}

#sign{
    font-style: normal;
    font-weight: 390;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding-left: 15px;
    border-left: 1.5px solid rgba(255, 255, 255, 0.5);
    height: 19px;
    left: 1391px;
    top:60px
}

#menu{
    width: 45px;
    height: 30px;
    left: 1837px;
    top: 49px;
    padding: 2px 15px 2px 30px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
}
#buscador{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2% 0 1% 0;   
}
#buscar{
    grid-column: 2/2;
    margin-top: 5%;
    border-radius: 100px;
    border: 1px solid #FFFFFF;
    background: none;
    padding: 10px 0 10px 25px;
    min-width: 20vw;
    width: 80%;
    font-size: 18px;
    padding: 7px 0 7px 20px;

    
}
input#buscar::placeholder{
    color: white;
    font-family: 'brandon-grotesque';
    background-image: url(../img/VectorBuscador.png);
    background-repeat: no-repeat;
    background-position: right;
}
#cuerpoEncabezado{
    display: grid;
    grid-template-rows:1fr 1fr 1fr;
    align-items: flex-end;
    margin-bottom: 6%;
    margin-left: 5%;
    margin-top: 20%;
}
#redes{
    position: fixed;
    width: fit-content;
    height: fit-content;
    left:4vh;
    top: 35%;
    filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    grid-template-columns: 1fr;
    z-index: 999999;
}
#luxury{
 position: absolute;
width: 490px;
height: 47px;
left: 122px;
font-weight: 400;
font-size: 40px;
line-height: 45px;
display: flex;
align-items: center;
color: #B4B7B7;

}
#realS{
    color:#FFFFFF;
    font-size: 60px;
}
#redes{
    position: fixed;
    width: fit-content;
    height: fit-content;
    left:4vh;
    top: 35%;
    filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    grid-template-columns: 1fr;
    z-index: 999999;
}
#seccion2{
    margin: 7%;
}
#propiedadesrenta{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#wowide{
    font-weight: 400;
    font-size: 35px;
    color: #DF991B;
}
#venta{
    font-weight: 500;
    font-size: 50px;
    color: #000000;
    margin-bottom: 5%;
}
#parrafo1{
    font-weight: 330;
    font-size: 23px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 20%;
    text-align: justify;
}
#imagenes{
    display: flex;
    align-items: end;
    align-content: end;
    overflow: hidden;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
#casadron{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: end;
    background-color: rgba(0, 0, 0, 30%);
}
#england{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: end;
    background-color: rgba(0, 0, 0, 30%);
}
#marseilles{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: end;
    background-color: rgba(0, 0, 0, 30%);
}
#album{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 5% 0 5%;
    column-gap: 25px;
    row-gap: 25px;
}
.class .fotos{
    object-fit: cover;
    width: 100%;
    height: 100%;
}